<div class="form">
<h3 class="mt-2">Ajouter un article</h3>

<%= render 'form', article: @article %>

<%= link_to 'Retour', articles_path, :class => 'btn btn-secondary hand btn-lg btn-block' %>
</div>
