<div class="d-flex align-items-center p-3 my-3 text-white-50 bg-secondary rounded box-shadow">
  <div class="lh-100">
    <h6 class="mb-0 text-white lh-100">Politique de gestion des cookies</h6>
    <small>Quelques formalités administratives...</small>
  </div>
</div>

<div class="d-flex justify-content-center align-items-center p-3 mb-4 bg-white text-dark rounded box-shadow">
  <div class="text-justify p-3">

<p>
Les cookies sont des fichiers enregistrés sur le disque dur de votre ordinateur lors de votre navigation sur Internet. Un cookie ne nous permet pas de vous identifier nominativement. En revanche, il enregistre des informations relatives à votre navigation sur le site qui pourront être directement lues par les serveurs que nous utilisons, lors de vos visites et requêtes ultérieures sur le site (telles que, par exemple, les pages que vous avez consultées, ou la date et l’heure de la consultation de ces pages).
</p>
<p>
Les données collectées au moyen de cookies permettent notamment d’améliorer la qualité du site afin de le rendre plus attrayant ou fonctionnel et de faciliter votre navigation.
</p>
<p>
Cookies présents sur le site : _ga, _gat (Cookies propres à Google Analytics)
</p>

<h4 class="pt-3">Exercez vos choix selon le navigateur que vous utilisez</h4>
<p>
Vous pouvez à tout moment paramétrer votre navigateur afin d’exprimer et de modifier vos souhaits en matière de cookies. Vous pouvez exprimer vos choix en paramétrant votre navigateur de façon à refuser certains cookies.
</p>
<p>
Si vous choisissez de refuser l’ensemble des cookies, votre navigation sera réduite pour accéder à certaines pages du site, voire parfois rendue impossible dans certains cas.
Nous vous informons que vous pouvez toutefois vous opposer à l’enregistrement de cookies en suivant le mode opératoire disponible sur le site de la CNIL : <a href="https://www.cnil.fr/fr/cookies-les-outils-pour-les-maitriser" target="_blank">Cookies, les outils pour les maîtriser</a>.
</p>

</div>
</div>
