<div class="form">
<h3 class="mt-2">Modifier le support</h3>

<%= render 'form', support: @support %>

<%= link_to 'Retour', supports_path, :class => 'btn btn-secondary hand btn-lg btn-block' %>
</div>
