<div class="form">
<h3 class="mt-2">Ajouter une categorie</h3>

<%= render 'form', category: @category %>

<%= link_to 'Retour', categories_path, :class => 'btn btn-secondary hand btn-lg btn-block' %>
</div>
